<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>paginaB</title>
</head>
<body>
    <form action="/api/descargar">
    <input type="text" name="image__name" placeholder="Nombre del archivo">
    <input type="text" name="image__url" placeholder="URL">
    <button type="submit">ENVIAR</button>
    </form>
</body>
</html>